<div id="logo">
	<img src="img/logo.png" alt="10xEngineer Labs" />
</div>
<div id="loginbox">
	<%= simple_form_for @user, :url => sessions_path, :html => { :class => 'form-vertical' } do |f| %>
		<p>Enter username and password to continue.</p>
		<%= f.input :email, :label => false, :placeholder => "Username", :wrapper => :unicorn %>
		<%= f.input :password, :label => false, :placeholder => "Password", :wrapper => :unicorn %>
		<div class="form-actions">
            <span class="pull-left">Lost password?</span>
            <span class="pull-right"><%= f.submit 'Login', :class => 'btn btn-inverse' %></span>
		</div>
	<% end %>
</div>