<% content_for :content_header do %>
<h1>Overview</h1>
<% end %>

<div class="row-fluid">
	<div class="span8">
		<div class="widget-box">
			
		</div>
	</div>
	<div class="span4">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-refresh"></i>
				</span>	
				<h5>Latest updates</h5>
			</div>
			
			<div class="widget-content nopadding updates">
				<div class="new-update clearfix">
					<i class="icon-ok-sign"></i>
					<span class="update-done">										
						<a title="" href="#"><strong>eu-1-aws available!</strong></a>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</span>
					<span class="update-date"><span class="update-day">01</span>oct</span>
				</div>
				
				<div class="new-update clearfix">
					<i class="icon-question-sign"></i>
					<span class="update-notice">										
						<a title="" href="#"><strong>Introducing Labs</strong></a>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</span>
					<span class="update-date"><span class="update-day">01</span>oct</span>
				</div>
				
			</div>
		</div>
	</div>		
	</div>
</div>


