<% content_for :content_header do %>
<h1>Overview</h1>
<% end %>

<% if @ssh_reminder %>
<div class="alert">
	<button type="button" class="close" data-dismiss="alert">×</button>
  	<strong>Don't forget</strong> <%= link_to "Add your public key", user_keys_path(@current_user) %> in order to get secure shell access to Lab Machines.
</div>
<% end %>

<div class="row-fluid">
	<div class="span8">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-refresh"></i>
				</span>	
				<h5>Account Details</h5>
			</div>
			<div class="widget-content">			
			<table class="table">
			<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
			</thead>	
			<tbody>
				<tr>
					<td>Account Type</td>
					<td>BETA<sup>1</sup>/PayG</td>					
				</tr>
				<tr>
					<td>Account ID</td>
					<td><%= @user.account.account_ref %></td>					
				</tr>
				<tr>
					<td>Name</td>
					<td><%= @user.name %></td>					
				</tr>
				<tr>
					<td>Email</td>
					<td><%= @user.email %></td>					
				</tr>

			</tbody>
			</table>

			<p><sup>1</sup>10xEngineer Labs is free to use during our public BETA. You are able to start 2 lab machines for your use during this period and the service is covered by 'best effort' SLA.
We will be introducing paid plans to meet all your budgets and requirements in the next few weeks. We'll keep you updated on any changes to the service</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-refresh"></i>
				</span>	
				<h5>Latest updates</h5>
			</div>
			
			<div class="widget-content nopadding updates">
				<div class="new-update clearfix">
					<i class="icon-ok-sign"></i>
					<span class="update-done">										
						<a title="" href="#"><strong>eu-1-aws available!</strong></a>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</span>
					<span class="update-date"><span class="update-day">01</span>oct</span>
				</div>
				
				<div class="new-update clearfix">
					<i class="icon-question-sign"></i>
					<span class="update-notice">										
						<a title="" href="#"><strong>Introducing Labs</strong></a>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</span>
					<span class="update-date"><span class="update-day">01</span>oct</span>
				</div>
				
			</div>
		</div>
	</div>		
	</div>
</div>


