<h1>API Access Tokens</h1>

<%= params[:user_id] %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Alias</th>
			<th>Auth Token</th>
		</tr>
	</thead>	
	<tbody>
		<% @tokens.each do |token| %>
		<tr>
			<td><%= token.alias %></td>
			<td><%= token.auth_token %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<a href="#" class="btn btn-info">Generate new</a>
