<% content_for :content_header do %>
<h1>API Tokens</h1>
<% end %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Alias</th>
			<th>Token</th>
			<th>Secret</th>
		</tr>
	</thead>	
	<tbody>
		<% @tokens.each do |token| %>
		<tr>
			<td><%= token.alias %></td>
			<td><%= token.auth_token %></td>
			<td><%= token.auth_secret %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Generate new", generate_user_access_tokens_path(@current_user), :class => "btn btn-info" %>

