#main {
	margin-top: 25px;
}

#new_key #key_public_key {
	width: 80%;
	height: 100px;
}

.fingerprint {
	font-family: courier, courier new;
	font-size: 13px;
}

#sessions .alert {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}